/*
 *  colors
 *  #f0f6f0 white
 *  #222323 black
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222323;
  animation: slideDown 2.4s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.overlay.logo {
  object-fit: cover;
  width: auto;
  height: 40%;

  padding: px;
  bottom: 0;
  right: 0;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

body {
  min-height: 100vh;
  font-family: "Zalando Sans Expanded", sans-serif;
  color: #f0f6f0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #222323;
}

.header {
  text-align: center;
  margin-bottom: 48px;
}

.title {
  font-weight: bold;
  font-size: 90px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.subtitle {
  line-height: 1.2;
  font-size: 25px;
  text-align: justify;
  max-width: 1465px;
}

.cards {
  max-width: 1440px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 36px;

  padding-bottom: 36px;
}

.card {
  background: #f0f6f0;
  color: #222323;

  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;

  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-2px);
}

.card.image {
  width: 100%;
  height: 250px;

  object-fit: cover;
  border-radius: 0;
}

.content {
  padding: 24px;
  line-height: 1.2;
  flex: 1;
  border-radius: 0;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 12px;
  margin-bottom: 6px;
}

.badge {
  display: inline-block;
  font-size: 12px;
  color: #f0f6f0;

  padding: 6px 10px;
  border-radius: 100px;
  background: #222323;
}

.tagline {
  font-size: 12px;
  margin-bottom: 20px;
}

.about-me {
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  text-align: justify;
  margin-bottom: 20px;
}

.contact p {
  font-size: 12px;
}

.wiki {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.wiki a {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background-color: #222323;
  color: #f0f6f0;
  font-size: 12px;

  padding: 10px 15px;
  margin-top: 25px;

  text-decoration: none;
  border-radius: 100px;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.wiki a:hover {
  background-color: #f0f6f0;
  color: #222323;
  border: #222323 1px solid;
  transform: translateY(-2px);
}

.bottom {
  display: flex;
  justify-content: space-between;

  width: 75vw;
  height: 75px;
  border-radius: 10px 10px 0 0;

  background: #f0f6f0;
  color: #222323;
}

.bottom p {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.copyright {
  text-align: right;
}

.logo {
  margin-left: 50px;
}

@media screen and (max-width: 1500px) {
  .title {
    font-size: 60px;
    line-height: 1;
  }

  .subtitle {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  }
}

@media (max-width: 720px) {
  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(2, minmax(280px, 250px));
  }
}

/* Phones */
@media (max-width: 620px) {
  .title {
    font-size: 40px;
    line-height: 0.9;
  }

  .subtitle {
    font-size: 14px;
  }

  .cards {
    max-width: 1280px;
    grid-template-columns: repeat(1, minmax(280px, 320px));
  }

  .bottom p {
    display: none;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .overlay.logo {
    object-fit: cover;
    width: auto;
    height: 20%;

    top: 30%;
    left: 0;
  }
}
